<%- include ('partials/header.ejs'); %>

<%- include ('partials/navbar.ejs'); %>
  <div style="text-align :center"  >
    <img class="center" src="/Assets/images/Fenil.jpg" height="20%" width="15%" alt="My Picture">
  </div>

  <div style = "text-align: center; margin-top: 10px;">
    <h1><b>Fenil Parakhiya</b></h1>
  </div>
</div>
<br>
  <div style = "display: block ;text-align: justify; border-width: 2px; border-style: dashed;">
    
    
    <h4 style="text-align: center ;"><b> Introduction</b></h4>
    <p style="font-size : 23px">I am, Fenil Parakhiya, persuing <b> software engineering technology</b> from centennial college. I am an internation student from India.
      I have already completed my bachelor's degree in the field of information technology from <b>GTU</b> university. I love playing Cricket and Badminton. You can say 
      I am an athlete.
    </p>
   </div>
    <br>
    <div style="text-align: center;">
    <p style="font-size: 23px;"> <a href="/Assets/documents/fenil_resume.pdf" download>click here to download my resume</a></p>
  </div>
  <%- include ('partials/navbar2.ejs'); %>

<%- include ('partials/footer.ejs'); %>
  