<%- include ('partials/header.ejs'); %>

<%- include ('partials/navbar.ejs'); %>


  
  <div style = "border-style: double; border-color: Blue; background-color: brown; border-width: 10px;">
     <div>
        <h1 style="color: white; text-align: center;"><br>Home Page of my Site <br></h1>
        </div>

        <div class="container" style="text-align: center;">
        <h5 style="color : violet">
            <br><br>
            Hello, We are here to offer you the best IT services.
        </h5>
    </div>
</div>
 
<%- include ('partials/navbar2.ejs'); %>

<%- include ('partials/footer.ejs'); %>

  