<%- include ('partials/header.ejs') %>

<%- include ('partials/navbar.ejs') %>


<div class = "container">      
            <div class="col-12 ">
              <h1 style=" text-align: center; margin-top: 30px;">
                <b> Our services to help you  </b>
              </h1>
            </div>  
            <div style="text-align:center">
              <img src="/Assets/images/cloud.jfif" style =" width: 230px;margin-left:10px;  margin-top: 10px;height: 140px;">
            </div>
            <div class="col-12"> 
                <div>
                    <h3> <b>=></b>Cloud Back-ups - For Better Data Management</h3>
                    <p>
                      Data loss due to security breaches, natural disasters, or other catastrophes can devastate a business. 
                      Our cloud backup services provide round-the-clock security with back-ups supported by three different 
                      data centers located on three different continents, giving you peace of mind and ensuring copies of your valuable information.
                    </p>
                </div>
            </div>
            <div style="text-align:center">
                <img src="/Assets/images/software.jfif" style="width: 260px;margin-left:-20px;  margin-top: 10px; height: 140px;">
            </div>
            <div class="col-12">
                <div>
                    <h3><b>=></b>software Development </h3>
                    <p>Being one of the top custom software development companies in Canada , 
                      we provide custom software application development services for any business that needs 
                      a digital solution for its daily problems . Our flexible , reliable
                       frameworks for development are customized to the customer's needs and requirements . 
                       From building a brand to automating business with advanced technologies , our industry experts take care of everything . 
                    </p>
                </div>
              </div>
            <div style="text-align:center">
              <img src="/Assets/images/appDev.jpg" style="width: 230px;margin-left:10px; margin-top: 10px; height: 140px;">
            </div>
            
            <div class="col-12">
                <div class="container" >
                    <h3><b>=></b>Application Development - To make Process Mobile-friendly</h3>
                    <p>We at NFD are well aware of the importance of tailor-made solutions. We focus on developing custom applications to solve distinct and unique problems. Our aim is to keep up with the latest technological and market developments to support your goal. The benefits of your existing apps will be preserved and enhanced as we go towards development. Thus, your company will be more flexible, which will lower its risk and increase its return on investment (ROI). Our experts in web design, backend development, and 
                      multi-platform system development can help you develop the applications your business needs to support its unique functions. </p>
                </div>
            </div>
</div> 
  <%- include ('partials/navbar2.ejs') %>  

<%- include ('partials/footer.ejs') %>
 
